# --- Streamlit y App Principal ---
streamlit
pandas
python-docx
google-cloud-aiplatform
google-cloud-storage
google-generativeai
openai
anthropic
python-dotenv
Pillow
openpyxl
PyPDF2

# --- Motor de Gráficos (graficos_plugins.py) ---
numpy
matplotlib
matplotlib-venn
networkx
graphviz
shapely
langchain
langchain-google-vertexai
pywaffle
seaborn
pydot
staticmap
requests
